
:root
{
    --body-padding  : 15px;
    --bg-clr-primary:rgba(73, 70, 158, 0.863);

}


*,*::before,
*::after{

}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--bg-clr-primary);
    height: calc(100vh - calc(var(--body-padding) * 2));
 
    border: var(--body-padding) solid white;
    overflow: hidden;
}